body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.profile-header {
	text-align: center;
}

.container {
	display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    align-items: center;
}

.skills-container {
	justify-content: center;
}

.skills-list {
}
.interest-list > ul {
	position: relative;
	right: 20px;
}
.career-list {

}
div {
	/* border: 1px solid black; */
	margin: 0px;
}
h2 {
	text-align: center;
}

.button-container {
	display: flex;
	justify-content: space-between;
}

.colorBtn, .placeBtn, .ritualBtn {
	background-color: yellow;
	height: 50px;
	border-radius: 25px;
}